<!doctype html>
<html>
<head>
  <title>Dashboard</title>
  <!-- <meta http-equiv="refresh" content="5;url=https://bluefish.impvdemo.com?token={{ token }}"> -->
</head>
<body>
  <h2>Welcome, {{ user }} to Dashboard_A!</h2>
    <p>You have successfully logged in.</p>
    <p>Your token is: <strong>{{ token }}</strong></p>
  <p>Click below to see Logs</p>
  <p><a href="/logs">View Logs</a></p>
  <p>Click below to see Live Logs</p>
  <p><a href="/logs/stream">View Live Logs</a></p>
  <p>Click below to go to Bluefish</p>
    <a href="https://bluefish.impvdemo.com?token={{ token }}">Go to Bluefish</a>

  <p>Click before for A/B Tests Filtered Logs</p>
    <a href="/logs/filter">Filtered Logs</a>
  <p>logout <a href="/logout">here</a></p>

</body>
</html>
